*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}

#nav{
    /* background-color: orange; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 20px;
    font-weight: 600px;
}

#nav i{
    /* background-color: black; */
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 600px;
}

#center{
    /* background-color: brown; */
    width: 100%;
    padding: 40px 80px;
    /* background-color: red; */
}

#center h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

#center-in{
    height: 180px;
    /* background-color: rgb(0, 225, 255); */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

#right{
    width: 20%;
    
    
}

.elem{
    /* background-color: pink; */
    /* margin: 5px; */
    padding: 18px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;

}
.elem:hover i{
    opacity: 1;
    
}
.elem:hover a{
    text-decoration: underline
}

#bottom{

    height: 40%;
    width: 100%;
    
    background-image: url(https://images.unsplash.com/photo-1707300787601-596f90f64121?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBtb2RlbCUyMGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover; 
    background-position: 0 20%;
}


